<div id="header" class="navbar navbar-inverse shadow-fixed " role="navigation">
    <div class="top-bar hidden-xs hidden-sm">
      <div class="container">
  
  
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 hidden-xs hidden-sm" style="    padding: 10px;">
          <a class="hidden-xs hidden-sm" style="color: #00fcee"><i class="fa fa-phone"></i> +91 8099029010</a>&nbsp;&nbsp;
          <div class="dropdown icon-col visible-xs visible-sm">
            <a data-toggle="dropdown" href="#" class="">&nbsp;</a>
            <div class="dropdown-menu" role="menu">
              <a class="link"><i class="fa fa-phone"></i> +91 8099029010</a>
            </div>
          </div>
          <a href="#" class="hidden-xs hidden-sm"
            style="color: #00fcee"></a>
          <div class="dropdown icon-col visible-xs visible-sm">
            <a data-toggle="dropdown" href="#" class="">&nbsp;</a>
            <div class="dropdown-menu" role="menu">
              <a class="link" href="https://www.onlinetaxfilings.in/mailto:info@onlinetaxfilings.in"><i
                  class="fa fa-envelope"></i> info@onlinetaxfilings.in</a>
            </div>
          </div>
  
        </div>
  
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6 hidden-xs hidden-sm" style="    padding: 10px;">
  
          <a class="topbar-a active" href="https://www.onlinetaxfilings.in/index.php">Home</a>
  
          <a class="topbar-a" href="https://www.onlinetaxfilings.in/aboutus.php">About Us</a>
  
          <a class="topbar-a" href="https://www.onlinetaxfilings.in/accounting-services.php">Accounting</a>
  
          <a class="topbar-a" href="https://www.onlinetaxfilings.in/roc-filing.php">Roc Filing</a>
  
          <a class="topbar-a" href="https://www.onlinetaxfilings.in/blog/">Blog</a>
  
          <a class="topbar-a" href="https://www.onlinetaxfilings.in/contactus.php">Contact us</a>
        </div>
      </div>
    </div>
  
  </div>