.bg-service1-img {
    background-image: url(https://www.myaccountsconsultant.com/assets/images/page/Payroll-Services-For-Small-Business-1.jpg);
    padding: 110px 0 110px 0;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.service-message h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.service-message ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.service-message ul li {
    display: inline-block;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.service-message ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.service-message ul li:after {
    content: ' \f105';
    color: #fff;
    font-family: FontAwesome;
    padding: 0 10px;
}

.wpb_wrapper .title-section .title {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #111;
    line-height: 130%;
    margin-bottom: 10px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #116466;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wpb_wrapper p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 160%;
    padding-top: 15px;
    margin-bottom: 0;
}

.service-section-padding {
    padding: 20px 0px;
}

.wpb_wrapper_ul ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.wpb_wrapper_ul ul li {
    list-style-type: disc;
    padding: 1px;
    color: #3a3026;
    margin-left: 18px;
    font-size: 15px;
}

.wpb_wrapper_ul ul li p {
    font-weight: 600;
}