<header>
    <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#">Online Tax</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#">Staring a New Business</a>
                        <ul class="dropdown-content">
                            <li>dropdown</li>
                            <li>dropdown</li>
                            <li>dropdown</li>
                            <li>dropdown</li>
                        </ul>
                    </li>
                    <li><a href="#about">Income Tax Filing</a></li>
                    <li><a href="#portfolio">GST Registration</a></li>
                    <li><a href="#contact">Others</a></li>

                </ul>
            </div>
            <div class="top-social">
                <ul id="top-social-menu">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- 
<section class="full-width-img">

</section> -->