/* You can add global styles to this file, and also import other style files */

// media Queries Start here
// @media (min-width: 1200px) {
//     .container {
//         width: 1170px;
//     }
// }

// @media (min-width: 992px){
// .container {
//     width: 970px;
// }
// }
// @media (min-width: 768px) {
// .container {
//     width: 750px;
// }
// }
@media (min-width: 768px) {
.top-bar .active, #header .menu .navbar-nav>li>.active {
    color: #f09329;
    font-weight: bold;
}
}
@media (min-width: 768px) {
.topbar-a {
    color: white;
    padding: 0 15px;
    font-weight: bold;
}
}
@media (min-width: 768px) {
.navbar-nav {
    float: left;
    margin: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm {
    display: block !important;
}
}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm {
    display: none !important;
}
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-nav {
    flex-direction: row;
}

#header {
    background: 0 0;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    display: block;
    border: 0;
    /* position: absolute; */
    z-index: 222;
    margin: 0;
    padding: 0px /*0 13px*/;
}

a:hover {
	color: orange
}



#header .menu .navbar-nav>li>a {
    -webkit-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    transition: background-color 1s linear;
    color: #1d3463;
    font-size: 13px;
    /* text-transform: uppercase; */
    font-family: "Poppins",sans-serif;
    font-style: normal;
    outline: 0;
    font-weight: bold;
}

#header .menu ul .sub-menu {
    -webkit-box-shadow: rgba(229,229,229,.7)0 1px 3px;
    -moz-box-shadow: rgba(229,229,229,.7)0 1px 3px;
    box-shadow: rgb(229 229 229 / 70%) 1px 1px 3px 1px;
    background: #fbfbfb;
    padding: 0;
    width: 230px;
    position: absolute;
    top: 150%;
    left: 0;
    z-index: 22;
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    list-style: none;
    margin-top: 10px;

}